.ad-ad1 {
  a:hover,
  a:active {
    text-decoration: none;
  }
  h1 {
    font-family: AcknowledgementMedium;
    letter-spacing: 0.1em;
    font-size: 36px;
    margin: 0 0 0 0;
    text-align: center;
  }
  h1:first-letter {
    letter-spacing: -0.1em;
  }
  p {
    margin: 0;
    font-family: AcknowledgementMedium;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
  }
}