
.sub {
  padding: 0 0 10px 0;
  margin: 0 0 5px 0;
  background: transparent url(../images/bg-subhead.gif) no-repeat bottom center;
   h2 {
    font-size: 14px;
    text-transform: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-shadow: none;
    text-align: center;
  }
}